$main-color :  #002d74;
$second-color :  #3dae2b;

$loyalty-previous :  #002d74;
$loyalty-spent :  #24505F;
$loyalty-earned :  #002d74;
$loyalty-available :  #24505F;
$default-status: #002d74;
$canceled-status: #ea2929;
$active-status: #002d74;
$suspended-status: #FF7E00;
$expired-status: #033649;
$gray-color: #8A8A8A;
$orange-color: #f1443c;
$yellow-color: #FFB758;

$bg-body: #F6F6F6;

