@import "~@vueform/multiselect/themes/default";
.multiselect {
  .multiselect-input {
    border: 0;
    box-shadow: 4px 5px 30px rgb(0 0 0 / 13%);
    .multiselect-caret {
      display: none;
    }
  }
  .multiselect-options {
    box-shadow: 4px 5px 30px rgb(0 0 0 / 13%);
    border: 0;
  }
}
