@import "fonts";
@import "variables";
@import "bootstrap-overrides";
@import "bootstrap-dependencies";
@import "weather-icon/weather-icons";


html {
  body {
    height: 100%;
    background: $white;
    color: #707070;
    margin: 0;
    padding: 0;
  }
}

.lh-2 {
  line-height: 2px !important;
}

.box-shadow-gray {
  box-shadow: 4px 5px 30px rgb(0 0 0 / 13%);
}
