@import "fonts";
@import "variables";
@import "bootstrap-overrides";
@import "bootstrap-dependencies";
@import "weather-icon/weather-icons";

html {
  body {
    height: 96vh;
    background: #e0e0e0;
    color: #707070;
    margin: 0;
    padding: 0;
  }
}

.lh-2 {
  line-height: 2px !important;
}
