@mixin font-face($style-name, $file, $family, $category:"") {
  $filepath: "/assets/fonts/" + $family + "/" + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".ttf");
    src: url($filepath + ".eot?#iefix") format("embedded-opentype"), url($filepath + ".woff") format("woff");
  }
  .#{$style-name} {
      @if $category != "" {
        font-family: "#{$style-name}", #{$category};
      }
      @else {
        font-family: "#{$style-name}";
        font-weight: normal;
      }
  }
}

@mixin fontSize($size: 1rem){
  @for $i from 10 through 100{
    .fs-#{$i}{
      font-size: $size !important;
    }
    $size: $size + 0.07142857142857143;
  }
}

@mixin lineHeight($size: 1rem){
  @for $i from 0 through 100{
    .lh-#{$i}{
      line-height: $size !important;
    }
    $size: $size + 0.07142857142857143;
  }
}
