$first-color-1deg : #009b7b;
$first-color-2deg : #00ae8d;
$first-color-3deg : #00deb8;
$second-color-1deg : #69747c;
$second-color-2deg : #8c97a0;
$second-color-3deg : #bccbd3;
$third-color-1deg : #ccd1d5;
$third-color-2deg : #d9dee2;

